@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
}

html body {
    height: 100%;
}

body {
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Flex", sans-serif;
}

/* ------ HEADER ------ */
header {
    background-color: #3333332f;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.header-links {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    gap: 1.2rem;
    margin-right: 50px;
    transition: color 0.3s;
}

.home .login-button {
    transition: font-size 0.3s;
}

.home:hover {
    font-size: large;
    color: #c44d38fb;
    transition: 0.3s;
}


.login-button:hover {
    font-size: large;
    transition: 0.3s;
}

/* ------ MAIN ------ */
main {
    padding: 2rem;
    flex: 1;
}

h1 {
    text-align: center;
}

#filter {
    text-align: center;
    margin-top: 20px;
}

#places-list {
    display: flex;
    justify-content: space-around;
    height: 75%;
    margin-top: 50px;
    width: 100%;
}

.place-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.place-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.place-info {
    text-align: center;
    padding: 10px;
}

.details-button {
    display: inline-block;
    height: 35px;
    width: 150px;
    line-height: 35px;
    text-align: center;
    margin: 15px auto 0 auto;
    cursor: pointer;
    border-radius: 25px;
    background-color: #c44d38fb;
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.details-button:hover {
    background-color: #9e382a;
}

/* ------ FOOTER ------ */
footer {
    text-align: center;
    background-color: #c44d38fb;
    padding: 1rem;
    width: 100%;
}

/* ------ PLACES ------ */
#place-description {
    text-align: center;
    margin-top: 30px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.review-cards {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

h3 {
    margin: 20px;
}

h2 {
    margin: 20px;
    margin-top: 50px;
}

label {
    margin: 20px;
}

#place-details input {
    resize: none;
}
/* ------ REVIEWS ------ */

/* ------ LOGIN ------ */
#login-form {
    display: grid;
    width: 45%;
    justify-content: center;
    color: #c44d38fb;
    margin: auto;
    margin-top: 100px;
    background-color: #e6e6e646;
    border-radius: 10px;
}

#login-form h2 {
    text-align: center;
}

#login-form input {
    padding: 5px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    width: 350px;
    border-radius: 6px;
    background-color: #f8f8f8;
    resize: none;
}

#login-form button {
    border-radius: 10px;
    width: 30%;
    margin: 5px auto;
    transition: background-color 0.3s;
}

#login-form button:hover {
    background-color: #c44d38fb;
    transition: 0.3s;
    cursor: pointer;
}
